.KANA-SHI {
    margin-left: 15px;
    margin-top: 15px;
}
body {
    font-family: Lato, sans-serif;
}

.Wifi-Name {
    width: 25px;
    height: 22px;
    font-family: Lato, sans-serif;
    font-size: 9px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #4a90e2;
}

#network {
  text-align: center;
  width: 100px;
  height: 100px;
  background: linear-gradient(azure, #4a90e2);
  border-radius: 50%;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  margin-top: -325px;
  opacity: 0.8;
  box-shadow: .2em .2em .2em #444;
}

canvas {
    margin: auto;
    text-align: center;
    margin-top: -75px;
    margin-left: 40px;
}

#table {
    margin: auto;
    margin-top: 50px;
}

#shield {
    margin-top: 20px;
}

#toaster {
    margin-left: 12px;
    margin-top: 2px;
}

.devices {
    padding: 5px;
    width: 0px;
    height: 0px;
    display: inline-block;
    background: linear-gradient(#dec9fe, white);
    border-width: 10px;
    border-radius: 50%;
    border-color: #4990e2;
    border-width: 2px; border-style: solid;
    top: 0; bottom: 0; left: 0; right: 0;
    margin:auto;
    position: absolute;
    opacity: 0.8;
    box-shadow: .2em .2em .2em #444;
}

#curve_chart {
    margin: auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4a90e2;
    color: white;
}

