<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Kanashi</title>

    <!-- css -->
    <link href="../static/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>

    <body>
      <div class="KANA-SHI">KANA<br>SHI</div>
      <div class="Wifi-Name">Your<br>Network</div>
    </body>

   <!--  jQuery and js -->
    <script src="../static/jquery-3.1.1.min.js"></script>
    <script src="../static/scripts.js"></script>

</html>